# Node (backend-router)
node_modules/
npm-debug.log*
.env
*.local
storage/
serviceAccountKey.json

# Python (python-services)
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/
.DS_Store

# VSCode/workspace/editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Sistema operativo
Thumbs.db
.DS_Store

# Archivos temporales
*.bak
*.swp
*.tmp

# Docs/output
*.png
*.svg
*.pdf

# Frontend
frontend/assets/
!frontend/assets/google-icon.svg
